@import "tailwindcss";
@theme {
  --font-planeto: "Planeto", sans-serif;
}

@theme {
  --font-signRathi: "signRathi"
}


*{
    box-sizing: border-box;
}

@font-face {
  font-family: "Planeto";
  src: url("/fonts-planeto/Planeto.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Planeto Rounded";
  src: url("/fonts-planeto/Planeto Rounded.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Planeto Outline";
  src: url("/fonts-planeto/Planeto Outline.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "signRathi";
  src: url("/fonts-signRathi/Sign Rathi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.signRathi {
  font-family: "signRathi", sans-serif;
}